package ui

// icon renders trusted inline SVG markup supplied by the application.
// Never pass user input here.
templ icon(svg string) {
	@templ.Raw(svg)
}

templ iconMenu() {
	<svg xmlns="http://www.w3.org/2000/svg" class="size-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"><path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16"></path></svg>
}

templ iconSort(dir string) {
	switch dir {
		case "asc":
			<svg xmlns="http://www.w3.org/2000/svg" class="size-3 inline-block" viewBox="0 0 24 24" fill="currentColor"><path d="M12 8l6 8H6z"></path></svg>
		case "desc":
			<svg xmlns="http://www.w3.org/2000/svg" class="size-3 inline-block" viewBox="0 0 24 24" fill="currentColor"><path d="M12 16l-6-8h12z"></path></svg>
		default:
			<svg xmlns="http://www.w3.org/2000/svg" class="size-3 inline-block opacity-25" viewBox="0 0 24 24" fill="currentColor"><path d="M12 6l4 5H8zM12 18l-4-5h8z"></path></svg>
	}
}
